p.centro { /* Indica que iremos trabalhar no design de parágrafos da classe "centro" */
            text-align: center; /* Alinha o texto ao centro */
            color: red; /* Define a cor da letra como "red" */
         } /* Indica que já não trabalharemos no design de parágrafos da classe "centro" */
   
p.largo { /* Indica que iremos trabalhar no design de parágrafos da classe "largo" */
           font-size: 300%; /* Define o tamanho da letra como "300%" */
        } /* Indica que já não trabalharemos no design de parágrafos da classe "largo" */